body{

	background: #ddd;
	position: relative;
	



}

body, * {

	
	box-sizing: border-box;
	-o-box-sizing:border-box;
	-moz-box-sizing:border-box;
}


*:not(.sun ,.container ){

	margin-top: 40px
}

#body{


	
	width:50%;
	min-width: 150px;
	background: #080;
	margin:500px auto;
	padding: 10px;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-top-left-radius: 80px;
	border-top-right-radius: 80px;
	


}


.sun{
    
    display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 20px;
	background: #000;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-top-left-radius: 80px;
	border-top-right-radius: 80px;
    
}


#screen{
    
    
	display: block;
	background: #eee;
	width: 90%;
	height: 60px;
	padding-left: 10px; 
	min-width: 110px;
	font-size: 3.5rem;
	font-weight: 900;
	line-height: 3.5rem;
	text-align: center;
	

	
}

.container{
 
    display: flex;
    justify-content: space-between;
    width: 100%;
	min-width: 130px;
	padding:5px;
	padding-right: 0;
	color: #fff;
	font-weight: 900;

}

.sp{

  	text-align: right;
  
  	

  }

 


#bot{
    
    
	display: block;
	height:200px;
	width: 200px;
	min-width: 60px;
	min-height: 60px;
	background: #fff;	
	border-radius:100% ;
	background: #00FF00;


	
}

button{


	border-radius: 100%;
	border: none;
	width: 55px;
	height: 55px;
	margin-top: 5px;
	background: #00FF00;
	
}


span{
	display: block;
}



/*****************************************************/

@media only screen and (max-width: 770px) {
 
   #bot{

   	   height:150px;
	   width: 150px;
   }

  

}

@media only screen and (max-width:600px) {
 
   #bot{

   	   height:120px;
	   width: 120px;
   }

   #container{

   	  width: 70%;
   }

   .sun{
   	 
   	 min-height:  400px
   }

}

@media only screen and (max-width:600px) {
 
   #bot{

   	   height:120px;
	   width: 120px;
   }

   #container{

   	  width: 80%;
   }

    button{
       
       width: 50px;
	  height: 50px;
   }

}



@media only screen and (max-width:370px) {
 
   #bot{

   	   height:90px;
	   width: 90px;
   }

    

   .container{

   	padding-right: 5px;
   	padding-left: 10px;
   }

  

  #screen{
  	height: auto;
  }
  
}

.dark-mode {
  background-color: black;
  
}


