body{

	background: #ddd;
	
	



}

body, * {

	
	box-sizing: border-box;
	-o-box-sizing:border-box;
	-moz-box-sizing:border-box;
}




#body{


	
	width:50%;
	min-width: 250px;
	background: #080;
	margin:0px auto;
	padding: 10px;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-top-left-radius: 80px;
	border-top-right-radius: 80px;
	height: 60vh;
	margin-top: 200px;

	

	


}


.sun{
    
    display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 20px;
	background: #000;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-top-left-radius: 80px;
	border-top-right-radius: 80px;
	height: 100%;
	width: 100%;
	

	

    
}


#screen{
    
    
	display: block;
	background: #eee;
	width: 80%;
	height: 60px;
	padding-left: 10px; 
	min-width: 110px;
	font-size: 3rem;
	font-weight: 900;
	text-align: center;
	

	
}

.container{
 
    display: flex;
    justify-content: space-between;
    width: 100%;
	min-width: 130px;
	padding:5px;
	padding-right: 0;
	color: #fff;
	font-weight: 900;

}

.sp{

  	text-align: right;
  
  	

  }

 


#bot{
    
    
	display: block;
	height:150px;
	width: 150px;
	min-width: 60px;
	min-height: 60px;
	background: #fff;	
	border-radius:100% ;
	background: #00FF00;


	
}

button{


	border-radius: 100%;
	border: none;
	width: 60px;
	height: 60px;
	background: #00FF00;
	margin-top: 5px
	
}


span{
	display: block;
}



/*****************************************************/

@media only screen and (max-width: 770px) {
 
   #bot{

   	   height:150px;
	   width: 150px;
   }

   #body{

   	width: 92%
   }

}



@media only screen and (max-width:470px) {
 
 

  #bot{

   	   height:100px;
	   width: 100px;
   }

    button{
       
       width: 50px;
	  height: 50px;
   }

}



@media only screen and (max-width:370px) {
 


    

   .container{

   	padding-right: 5px;
   	padding-left: 10px;
   }

  

  #screen{
  	height: auto;
  }
  
}

.dark-mode {
  background-color: black;
  
}


